.text-selection-disabled
   -moz-user-select: none // firefox
   -webkit-user-select: none // Safari
   -ms-user-select: none // IE
   user-select: none // Standard syntax 
.hoverable:hover
   cursor: pointer