@import './_colors'
// app vars
$app-bg-color: $blue-bg-main // sets background color
$app-secondary-color-inactive: $purple-cta-inactive // sets color for cta'a and underlines
$app-secondary-color-hover: $purple-cta-hover // sets color for cta'a and underlines
$app-secondary-color-active: $purple-element-active // sets color for cta'a and underlines

// slider vars
$slider-bg-color: $blue-dark-second // sets slider background color

$slider-text-title-color: $white
$slider-text-color: $gray-btn

$slider-arrow-inactive-color: $gray-btn-hover
$slider-arrow-hover-color: $gray-btn-pressed
$slider-arrow-active-color: $white

$slider-input-bg-color: $blue-input-inactive
$slider-input-bg-color-hover: $blue-input-hover
$slider-input-text-color: $white-text-cta-inactive
$slider-input-text-color-secondary: $gray-btn

$slider-slot-height: 60px
$header-slot-height: 60px