@import './_vars'

$underline-thickness: 1px
.form-section-label
    padding: 9px
    color: $slider-text-title-color
    width: max-content
    &:hover
        border-bottom: $underline-thickness solid $app-secondary-color-hover
    &:active
        border-bottom: $underline-thickness solid $app-secondary-color-active
    &.active-section
        border-bottom: $underline-thickness solid $app-secondary-color-active