@import './_vars'
.input-slider
    position: absolute
    left: 0
    bottom: 0
    height: 50%
    border-radius: 20px 20px 0px 0px
    overflow: hidden
    &.opened
        transform: translate(0, 0)
    &.closed
        transform: translate(0, calc(100% - $slider-slot-height))
    &-slot
        display: flex
        min-height: $slider-slot-height
        justify-content: center
        align-items: center
    &-body
        flex: 1
        display: grid
        grid-template-rows: auto 1fr
        gap: 12px
        padding: 8px 0px 24px 0px
        overflow: hidden
        .form-switcher-header,
        .form-main,
        .form-footer
            padding: 0 $slider-padding-x
@media screen and (min-width: 768px)
    .input-slider-body
        width: 768px
        align-self: center